body{background-color:#ffffff !important;}
h3.h3{text-align:center;padding:1.5em 0em;text-transform:capitalize;font-size:1.5em;}





.success-story{
	background: #008cc9;
	
	position: relative;
}
/*
.success-story p::after{
	content: '';
	width: 609px;
	height: 1px;
	background:#fff;
	position: absolute;
	left: 34%;
	top: 17%;

}

*/
.success-story-text{
	color: #fff;
}

.success-story-text h2:after{
	content: '';

width: 609px;

height: 2px;

background:
#fff;

position: absolute;

left: 34%;

top: 20%;

}

.success-story-text::before {
	content: "";
    position: absolute;
    
    background-color:transparent;
	border-left: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #008cc9;
	width: 30px;
    height: 30px;
    left: 50%;
    top: 162px;
    margin-left: -20px;
    z-index: 1010;
}
.success-story-text::after {
	 content: "";
    position: absolute;
    background-color: transparent; 
	border-left: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid  #fff;
    border-top-color: rgb(255, 255, 255);
    margin-left: -20px;
     width: 30px;
    height: 30px;
    left: 50%;
    top: 164px;
    
}





/******************  News Slider Demo-6 *******************/

.post-slide6{
    margin: 0 10px;
    border-left: 4px solid #ff9a04;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide6 .post-img{
    position: relative;
    overflow: hidden;
    max-height: 143px;
}
.post-slide6 .post-img:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0,0,0.0);
    transition: all 0.40s linear 0s;
}
.post-slide6:hover .post-img:before{
    background: rgba(0, 0,0,0.6);
}
.post-slide6 .post-img img{
    width: 100%;
    height: auto;
}
.post-slide6 .post-info{
    width: 75%;
    position: absolute;
    bottom: -100%;
    left: 12.5%;
    background: #1dcfd1;
    text-align: center;
    line-height: 26px;
    padding: 15px;
    transition: bottom 0.40s ease-in-out 0s;
}
.post-slide6:hover .post-info{
    bottom:0;
}
.post-slide6 .category{
    padding: 0;
    margin: 0;
    list-style: none;
}
.post-slide6 .category li,
.post-slide6 .post-date{
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
}
.post-slide6 .category li:after{
    content: " /";
}
.post-slide6 .category li:last-child:after{
    content: "";
}
.post-slide6 .category li a{
    color: #fff;
    transition: all 0.40s linear;
}
.post-slide6 .category li a:hover{
    color: #555;
    text-decoration: none;
}
.post-slide6 .post-review{
    padding: 54px 34px 24px;
    background: #fff;
    position: relative;
}
.post-slide6 .icons{
    width: 90px;
    height: 90px;
    border: 4px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    right: 10px;
    overflow: hidden;
}
.post-slide6 .icons img{
    width: 100%;
    height: auto;
}
.post-slide6 .post-title{
    margin: 0 0 0px -15px;
}
.post-slide6 .post-title a{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1dcfd1;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.30s linear 0s;
}
.post-slide6 .post-title a:hover{
    text-decoration: none;
    color: #555;
}
.post-slide6 .post-description{
    color: #555;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 20px;
}
.post-slide6 .read{
    font-size: 13px;
    color: #555;
    display: block;
    text-align: right;
    text-transform: uppercase;
}
.post-slide6 .read:hover{
    text-decoration:none;
    color: #1dcfd1;
}

.post-review-post{
    margin-top: -25px;
    
}
.post-review-post a{
    color: #ff9a04 !important;
}

.post-review-post-arrow{
    width: 1px;
border-top: 20px solid #ff9a04;
border-right: 20px solid transparent;
border-left: 20px solid transparent;
border-bottom: 20px solid transparent;
transform: rotate(-45deg);
position: absolute;
left: 94%;
top:93%;
z-index: 999;
}
.owl-theme .owl-controls .owl-page span{
    background:#ff9a04 !important; 
}
.owl-carousel-viewAll{
    left: 0;
    top: 10;
    color: #ff9a04;
    font-weight: bold;
    position: relative;

}

.owl-carousel-viewAll:after{
    content: '';
width: 94px;
height: 2px;
background:
#ff9a04;
position: absolute;
left: 87%;
top: 31%;
}

.subject-top-padding-inner-text p{
    margin-top:0px !important;
}











@media(max-width:740px){

	.students-say-text span {
    position: absolute;
    z-index: 999;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(69%, 296%) !important;
    color: 
    #00577d;
}
.student-arrow {
    width: 1px;
    border-top: 28px solid 
transparent;
border-right: 28px solid
#eff4f8;
border-left: 28px solid
transparent;
border-bottom: 28px solid
    transparent;
    transform: rotate(-45deg);
    position: absolute;
    left: 4%;
    top: 23%;
    z-index: 999;
}

	.student-owl-more-video-testimonials-text span {

    position: absolute;
    z-index: 999;
    font-size: 24px;
    top: -35%;
    left: 86%;
    transform: translate(-132%, 157%) !important;
    color: 

    #ff9a04;

}
.student-owl-viewAll-text {

    margin-left: 217px !important;

}

	.success-story-text h2::after {
    content: '';
    width: 200px;
    height: 1px;
    background: 
    #fff;
    position: absolute;
    left: 25%;
    top: 24%;
}

.success-story-text::after {
    content: "";
    position: absolute;
    background-color: 
transparent;
border-left: 20px solid
transparent;
border-bottom: 20px solid
transparent;
border-right: 20px solid
transparent;
border-top: 20px solid
#fff;
    border-top-color: rgb(255, 255, 255);
border-top-color:
    rgb(255, 255, 255);
    margin-left: -20px;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 24%;
}
.success-story-text::before {
    content: "";
    position: absolute;
    background-color: 
transparent;
border-left: 20px solid
transparent;
border-bottom: 20px solid
transparent;
border-right: 20px solid
transparent;
border-top: 20px solid
    #008cc9;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 226px;
    margin-left: -20px;
    z-index: 1010;
}

.post-review-post-arrow {
    width: 1px;
    border-top: 27px solid 
#ff9a04;
border-right: 28px solid
transparent;
border-left: 28px solid
transparent;
border-bottom: 28px solid
    transparent;
    transform: rotate(-46deg);
    position: absolute;
    left: 91%;
    top: 92%;
    z-index: 999;
}
.owl-carousel-viewAll::after {

    content: '';

width: 94px;

height: 2px;

background:
#ff9a04;

position: absolute;

left: 29%;

top: 36%;
}
.owl-carousel-viewAll {

    left: -71px;
    top: 40 !important;
    color: 

    #ff9a04;
    font-weight: bold;
    text-align: center !important;
    position: relative;

}
.our-program-structure{
    display: none;
}
.our-precious-clients-div-containt p::after {
    content: '';
    width: 267px;
    height: 1px;
    background: 
    #2f506c;
    position: absolute;
    left: 14%;
    top: 29%;
}
.our-precious-clients-patners::after {
    content: '';
    height: 1px;
    width: 115px;
    background: 
    red;
    top: 29%;
    left: 14%;
    position: absolute;
}
.our-precious-clients-patners ul li {
    display: none;
}
.our-precious-clients-patners::before {
    content: '';
    height: 1px;
    width: 96px;
    background: 
    #ff9a04;
    top: 90%;
    left: 41%;
    position: absolute;
}
.input-group-append {
    margin-left: 232px;
    margin-top: -50px;
}
.updates-and-offers input {
    border-radius: 0px;
    padding: 12px 16px;
    margin-left: -8px;
}
.become-an-instructor{
    margin-left: 20px;
}
.footer-mid-section ul{
    display: inline;
}



}